<div class="container">

  <h2>Create a new Restaurant</h2>

  <div data-controller="wizard">
    <%= simple_form_for @restaurant do |f| %>
      <div data-wizard-target="step">
        <%= f.input :name %>

        <%= button_tag "Next", type: :button,
          data: {
            action: "click->wizard#goToNext",
            next_step: "1"
          } %>
      </div>

      <div data-wizard-target="step" class="d-none">
        <% "your inputs" %>
        <%= f.input :address %>

        <%= button_tag "Previous", type: :button,
          data: {
            action: "click->wizard#goToPrevious",
            previous_step: "1"
          } %>

        <%= f.submit %>
      </div>

    <% end %>

  </div>
</div>
